* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}
header {
  background: black;
  padding: 20px;
}

header > h1 {
  color: white;
  text-align: center;
}

.scores {
  margin: 20px auto;
  border: 3px solid black;
  border-radius: 5px;
  text-align: center;
  width: 200px;
  color: black;
  font-size: 46px;
  padding: 15px 20px;
  position: relative;
}

.scoreboard {
  background: tomato;
  color: white;
  font-size: 14px;
  padding: 2px 10px;
}
#p1 {
  position: absolute;
  top: 30px;
  left: -25px;
}
#p2 {
  position: absolute;
  top: 30px;
  right: -25px;
}
.result {
  font-size: 40px;
  color: black;
}
.result > p {
  text-align: center;
  font-weight: bold;
}
.choices {
  text-align: center;
  margin-top: 50px;
}
.choice {
  border: 5px solid black;
  border-radius: 50%;
  display: inline-block;
  padding: 35px;
  margin: 0 20px;
  transition: all 0.5s ease;
}
.choice:hover {
  cursor: pointer;
  background: #618ed1;
}
.status {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}
.username {
  grid-area: un;
  background-color: coral;
  height: 35px;
}
.msg-box {
  overflow: scroll;
  grid-area: mb;
  background-color: cyan;
}
.msg-input {
  grid-area: mi;
  background-color: darkorchid;
  height: 35px;
}
.users-list {
  grid-area: ul;
  background-color: darkkhaki;
}
.chatbox {
  height: 200px;
  width: 480px;
  display: grid;
  grid-template-columns: 6;
  grid-template-rows: 4;
  grid-template-areas:
    "ul un un un un"
    "ul mb mb mb mb"
    "ul mb mb mb mb"
    "ul mi mi mi mi";
}
